.week2 {
    border: dotted purple;
    /* border-color: black; */
    border-width: 5px;
    position:relative;
    left: 50px;
    font-size: 20px;
}

.fixed-element {
    background-color: black;
    color: pink;
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.absolute-element {
    background-color: green;
    padding: 10px 20px;
    border-radius: 50%;
    font-weight: bold;
    position: absolute;
    top: 20px;
    right: 20px;
    color:white;
}